{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
        Welcome to ABC Store
{% endblock %}

{% block title %}
    {% if category %}
        {{category.name}} - Movie Store
    {% else %}
        Home
    {% endif %}
{% endblock %}

{% block content %}
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter movie title"><br><br>
    <input type="text" name="desc" placeholder="Enter movie description"><br><br>
    <input type="date" name="date" placeholder="Enter movie release date"><br><br>
    <input type="text" name="actors" placeholder="Enter movie actors"><br><br>
    <input type="text" name="category" placeholder="Enter movie category"><br><br>
    <input type="text" name="youtubelink" placeholder="Enter movie youtube trailer link"><br><br>
    <input type="file" name="image"><br><br>
    <input type="submit"><br>
</form>

{% endblock %}
