
{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {{movie.desc|truncatewords:155}}
{% endblock %}

{% block title %}
        {{movie.name}}
{% endblock %}

{% block content %}
<div class="container">
<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h3>  Movie Update </h3>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
            <button type="submit">Confirm</button>
            </form>
        </div>
    </div>
</div>
</div>



{% endblock %}